<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobi.chy.globalpoidemo">

    <!-- 获取设备网络状态，禁用后无法获取网络状态 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Google Maps Key-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB1-tVMwVbCGX_DLh6lB1JfRWyzz7rXrPA" />
        <!-- Foursquare Key-->
        <meta-data
            android:name="FOURSQUARE_CLIENT_ID"
            android:value="TESBVHX5NCPPLUO51RZ15IVXZITDSFTXXEWHQ2UGTEP5VGB3" />
        <meta-data
            android:name="FOURSQUARE_CLIENT_SECRET"
            android:value="VK1PN0LUSLXTQSHSPEYX4222P0SBEXWQIGOETBHQTBXWEOHQ" />
    </application>

</manifest>